/* https://fonts.google.com/featured/Superfamilies */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

body,
p,
.normal {
  background-color: #eeeceb;
  font-family: "Roboto", sans-serif;
  color: #443e3c;
}

h1,
h2,
h3,
h4,
.header {
  font-family: "Roboto", sans-serif;
}

p {
  line-height: 1.5;
}

a,
a:link,
a:visited {
  text-decoration: none;
  transition: color 0.4s;
  color: #07c;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #c6d2d2;
}

a:active {
  text-decoration: none;
  transition: color 0.3s;
  color: #c6d2d2;
}

nav a,
nav a:link,
nav a:visited {
  text-decoration: none;
  transition: color 0.4s;
  color: #000000;
  cursor: pointer;
}

nav a:hover {
  text-decoration: none;
  color: #c6d2d2;
}

nav a:active {
  text-decoration: none;
  transition: color 0.3s;
  color: #c6d2d2;
}
