/* https://fonts.google.com/featured/Superfamilies */
@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400|Roboto:300,400,700");

body,
p,
.normal {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
.header {
  font-family: "Oxygen", serif;
}

p {
  line-height: 1.5;
}
