/* https://fonts.google.com/featured/Superfamilies */
@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400|Roboto:300,400,700");

body,
p,
.normal {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
.header {
  font-family: "Oxygen", serif;
}

p {
  line-height: 1.5;
}

a,
a:link,
a:visited {
  text-decoration: none;
  transition: color 0.4s;
  color: #9fb5cc;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #c6d2d2;
}

a:active {
  text-decoration: none;
  transition: color 0.3s;
  color: #c6d2d2;
}

nav a,
nav a:link,
nav a:visited {
  text-decoration: none;
  transition: color 0.4s;
  color: #000000;
  cursor: pointer;
}

nav a:hover {
  text-decoration: none;
  color: #c6d2d2;
}

nav a:active {
  text-decoration: none;
  transition: color 0.3s;
  color: #c6d2d2;
}
