/**
 * NatWelch.com Version 16.0
 * copyright Nat Welch 2014
 */

@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

.tinted-image {
  background:
    /* top, transparent red, faked with gradient #F2F6ED */
    linear-gradient(
      rgba(242, 246, 237, 0.45),
      rgba(242, 246, 237, 0.5),
      rgba(242, 246, 237, 0.6),
      rgba(242, 246, 237, 1.45)
    ),
    /* bottom, image */
    url(/i/cock.jpg);
  width: 1440px;
  height: 600px;
}

body {
  background-color: #F2F6ED;
}
