<div id="podcast_list">
  <!-- ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Above &amp; Beyond: Group Therapy">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/c380cbb0-7a30-0131-80d5-723c91aeae46">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/c380cbb0-7a30-0131-80d5-723c91aeae46.jpg" data-fallback-src="http://static.aboveandbeyond.nu/assets/logos/Group_Therapy_Podcast_600x600.jpg" src="http://static.pocketcasts.com/discover/images/200/c380cbb0-7a30-0131-80d5-723c91aeae46.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Above &amp; Beyond: Group Therapy</div>
        <div class="author ng-binding">Above &amp; Beyond</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Alex Baldwin">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/4c182750-4294-0133-bf98-0d11918ab357">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/4c182750-4294-0133-bf98-0d11918ab357.jpg" data-fallback-src="https://ruby.fm/alexbaldwin.jpg" src="http://static.pocketcasts.com/discover/images/200/4c182750-4294-0133-bf98-0d11918ab357.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Alex Baldwin</div>
        <div class="author ng-binding">Alex Baldwin</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="All Songs Considered">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/d1b5de80-0c98-012e-fb56-00163e1b201c">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/d1b5de80-0c98-012e-fb56-00163e1b201c.jpg" data-fallback-src="https://media.npr.org/images/podcasts/primary/icon_510019-045e9424ceb1fd4f5ae73df269de73b8094cd25e.jpg?s=1400" src="http://static.pocketcasts.com/discover/images/200/d1b5de80-0c98-012e-fb56-00163e1b201c.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">All Songs Considered</div>
        <div class="author ng-binding">NPR</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Beginner">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/b468b260-b5cd-0134-106e-25324e2a541d">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/b468b260-b5cd-0134-106e-25324e2a541d.jpg" data-fallback-src="http://i1.sndcdn.com/avatars-000285995354-q9dq7n-original.jpg" src="http://static.pocketcasts.com/discover/images/200/b468b260-b5cd-0134-106e-25324e2a541d.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Beginner</div>
        <div class="author ng-binding">Misha Euceph</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Between Worlds">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/45697ea0-fcfb-0132-18cf-059c869cc4eb">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/45697ea0-fcfb-0132-18cf-059c869cc4eb.jpg" data-fallback-src="http://i1.sndcdn.com/avatars-000150739306-s4l75j-original.jpg" src="http://static.pocketcasts.com/discover/images/200/45697ea0-fcfb-0132-18cf-059c869cc4eb.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Between Worlds</div>
        <div class="author ng-binding">Mike Walsh</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Christopher Kimball’s Milk Street Radio">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/7cf43350-6a2d-0134-787d-4ffec63d9550">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/7cf43350-6a2d-0134-787d-4ffec63d9550.jpg" data-fallback-src="https://cdn-cpk.prx.org/wp-content/uploads/powerpress/msl_radio_logo_cobrand_prx_3000.jpg" src="http://static.pocketcasts.com/discover/images/200/7cf43350-6a2d-0134-787d-4ffec63d9550.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Christopher Kimball’s Milk Street Radio</div>
        <div class="author ng-binding">Milk Street Radio</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Console.fm">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/11f1ec40-1528-0133-255a-059c869cc4eb">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/11f1ec40-1528-0133-255a-059c869cc4eb.jpg" data-fallback-src="https://ruby.fm/consolefm.jpg" src="http://static.pocketcasts.com/discover/images/200/11f1ec40-1528-0133-255a-059c869cc4eb.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Console.fm</div>
        <div class="author ng-binding">Console.fm</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Containers">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/3e0d59c0-df45-0134-ebdd-4114446340cb">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/3e0d59c0-df45-0134-ebdd-4114446340cb.jpg" data-fallback-src="http://i1.sndcdn.com/avatars-000297637447-xl4jgg-original.jpg" src="http://static.pocketcasts.com/discover/images/200/3e0d59c0-df45-0134-ebdd-4114446340cb.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Containers</div>
        <div class="author ng-binding">Fusion Media Group</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Control Z">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/f2f5a910-ed8c-0133-9c5b-59d98c6b72b8">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/f2f5a910-ed8c-0133-9c5b-59d98c6b72b8.jpg" data-fallback-src="http://i1.sndcdn.com/avatars-000219570737-diff05-original.jpg" src="http://static.pocketcasts.com/discover/images/200/f2f5a910-ed8c-0133-9c5b-59d98c6b72b8.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Control Z</div>
        <div class="author ng-binding">Australian Broadcasting Corporation</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="CreativeMornings Podcast">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/1343eec0-3ece-0133-bd2d-0d11918ab357">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/1343eec0-3ece-0133-bd2d-0d11918ab357.jpg" data-fallback-src="http://i1.sndcdn.com/avatars-000189114202-eyyiql-original.jpg" src="http://static.pocketcasts.com/discover/images/200/1343eec0-3ece-0133-bd2d-0d11918ab357.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">CreativeMornings Podcast</div>
        <div class="author ng-binding">CreativeMornings Podcast</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Crimetown">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/eed6e2c0-8155-0134-904b-3327a14bcdba">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/eed6e2c0-8155-0134-904b-3327a14bcdba.jpg" data-fallback-src="http://panoply-prod.s3.amazonaws.com/podcasts/faf93c7c-4dcc-11e6-ba15-9b8a8c61d0b5/image/uploads_2F1477921370298-2w4oueyxm30qnqq9-42c9396e61d3a8f05a90ac0d1d1da9a6_2FCrimetown-show-art-1500px-v2.png" src="http://static.pocketcasts.com/discover/images/200/eed6e2c0-8155-0134-904b-3327a14bcdba.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Crimetown</div>
        <div class="author ng-binding">Gimlet</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Decrypted">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/71ec6530-6cc1-0134-787d-4ffec63d9550">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/71ec6530-6cc1-0134-787d-4ffec63d9550.jpg" data-fallback-src="http://is1.mzstatic.com/image/thumb/Music62/v4/0f/fc/bf/0ffcbf9e-6444-5cc0-378d-aa781deb5db9/source/170x170bb.jpg" src="http://static.pocketcasts.com/discover/images/200/71ec6530-6cc1-0134-787d-4ffec63d9550.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Decrypted</div>
        <div class="author ng-binding">Bloomberg News</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Design Matters with Debbie Millman">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/dccad710-2aa4-012e-0870-00163e1b201c">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/dccad710-2aa4-012e-0870-00163e1b201c.jpg" data-fallback-src="http://designobserver.com/images/Design_Matters_w_DebbieMillman.jpg" src="http://static.pocketcasts.com/discover/images/200/dccad710-2aa4-012e-0870-00163e1b201c.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Design Matters with Debbie Millman</div>
        <div class="author ng-binding">Design Observer</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="FiveThirtyEight Politics">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/b045b920-a2cb-0133-2ddd-6dc413d6d41d">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/b045b920-a2cb-0133-2ddd-6dc413d6d41d.jpg" data-fallback-src="http://a.espncdn.com/combiner/i?img=i/espnradio/logos/538_elections_1x1.png?w=1400&amp;h=1400" src="http://static.pocketcasts.com/discover/images/200/b045b920-a2cb-0133-2ddd-6dc413d6d41d.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">FiveThirtyEight Politics</div>
        <div class="author ng-binding">FiveThirtyEight, 538, ESPN, Nate Silver</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Foundation">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/5e2760a0-ea5f-012f-99a7-723c91aeae46">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/5e2760a0-ea5f-012f-99a7-723c91aeae46.jpg" data-fallback-src="http://foundation.squealingrat.org/wp-content/uploads/2012/09/foundation-facebook-3.png" src="http://static.pocketcasts.com/discover/images/200/5e2760a0-ea5f-012f-99a7-723c91aeae46.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Foundation</div>
        <div class="author ng-binding">Kevin Rose</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Fresh Air">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/a82455d0-0cc6-012e-fb69-00163e1b201c">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/a82455d0-0cc6-012e-fb69-00163e1b201c.jpg" data-fallback-src="https://media.npr.org/images/podcasts/primary/icon_381444908-6388a4123207c734918f15c97de6d49ae634f820.jpg?s=1400" src="http://static.pocketcasts.com/discover/images/200/a82455d0-0cc6-012e-fb69-00163e1b201c.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Fresh Air</div>
        <div class="author ng-binding">NPR</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Guardian Radio">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/cd9ff3b0-6ab1-0130-f782-723c91aeae46">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/cd9ff3b0-6ab1-0130-f782-723c91aeae46.jpg" data-fallback-src="http://deow9bq0xqvbj.cloudfront.net/image-logo/844975/grituneslogo-e1473137509349.png" src="http://static.pocketcasts.com/discover/images/200/cd9ff3b0-6ab1-0130-f782-723c91aeae46.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Guardian Radio</div>
        <div class="author ng-binding">Guardian Radio</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Hacked">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/9bd4b960-5783-0133-c8fd-0d11918ab357">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/9bd4b960-5783-0133-c8fd-0d11918ab357.jpg" data-fallback-src="http://www.hackedpodcast.com/app/uploads/2015/10/Hacked-1400.png" src="http://static.pocketcasts.com/discover/images/200/9bd4b960-5783-0133-c8fd-0d11918ab357.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Hacked</div>
        <div class="author ng-binding">Sticks &amp; Stones</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Homecoming">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/03880210-8156-0134-904b-3327a14bcdba">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/03880210-8156-0134-904b-3327a14bcdba.jpg" data-fallback-src="http://panoply-prod.s3.amazonaws.com/podcasts/ac3586dc-5f28-11e6-b7c8-a7b409afbab2/image/uploads_2F1477854354636-b5yuv6yfe03phd0p-4850fa7c0f578c35452b2881d0df13cf_2FHomecoming-show-art-3000px.png" src="http://static.pocketcasts.com/discover/images/200/03880210-8156-0134-904b-3327a14bcdba.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Homecoming</div>
        <div class="author ng-binding">Gimlet</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="How I Built This">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/a4085f60-5672-0134-ec37-0d50f522381b">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/a4085f60-5672-0134-ec37-0d50f522381b.jpg" data-fallback-src="https://media.npr.org/assets/img/2016/08/31/hibt_podcast_tile_sq-8d9498b292dc7a759bf4b7fc776dfe0e4c09da68.png?s=1400" src="http://static.pocketcasts.com/discover/images/200/a4085f60-5672-0134-ec37-0d50f522381b.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">How I Built This</div>
        <div class="author ng-binding">NPR</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Intercepted with Jeremy Scahill">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/53678a10-bc45-0134-10a8-25324e2a541d">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/53678a10-bc45-0134-10a8-25324e2a541d.jpg" data-fallback-src="http://panoply-prod.s3.amazonaws.com/podcasts/d5735a50-d904-11e6-8532-73c7de466ea6/image/uploads_2F1484252190700-qhn5krasklbce3dh-a797539282700ea0298a3a26f7e49b0b_2FIntercepted_COVER%2B_281_29.png" src="http://static.pocketcasts.com/discover/images/200/53678a10-bc45-0134-10a8-25324e2a541d.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Intercepted with Jeremy Scahill</div>
        <div class="author ng-binding">The Intercept / Panoply</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Invisibilia">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/da3271a0-69e7-0132-d9fd-5f4c86fd3263">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/da3271a0-69e7-0132-d9fd-5f4c86fd3263.jpg" data-fallback-src="https://media.npr.org/assets/img/2016/05/19/invisibiliapodcast_icon_hotpink-01_sq-2359778531d9733109e3674a5cecf5a711aa511f.jpg?s=1400" src="http://static.pocketcasts.com/discover/images/200/da3271a0-69e7-0132-d9fd-5f4c86fd3263.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Invisibilia</div>
        <div class="author ng-binding">NPR</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="KEXP Song of the Day">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/66865e80-0425-012e-f9a0-00163e1b201c">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/66865e80-0425-012e-f9a0-00163e1b201c.jpg" data-fallback-src="http://www.kexp.org/images/podcast-songoftheday.jpg" src="http://static.pocketcasts.com/discover/images/200/66865e80-0425-012e-f9a0-00163e1b201c.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">KEXP Song of the Day</div>
        <div class="author ng-binding">KEXP</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Live In Concert from NPR's All Songs Considered">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/6c1b3860-0dcf-012e-fbc1-00163e1b201c">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/6c1b3860-0dcf-012e-fbc1-00163e1b201c.jpg" data-fallback-src="https://media.npr.org/images/podcasts/primary/icon_510253-32e0c497d85baf3c3cb7c77c77931a3a4087a024.jpg?s=1400" src="http://static.pocketcasts.com/discover/images/200/6c1b3860-0dcf-012e-fbc1-00163e1b201c.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Live In Concert from NPR's All Songs Considered</div>
        <div class="author ng-binding">NPR</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Longform">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/9183a670-c39e-012f-7c3b-723c91aeae46">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/9183a670-c39e-012f-7c3b-723c91aeae46.jpg" data-fallback-src="http://static.libsyn.com/p/assets/1/0/b/b/10bbcf88b8f22be1/podcast_cover_art_1400_x_1400.png" src="http://static.pocketcasts.com/discover/images/200/9183a670-c39e-012f-7c3b-723c91aeae46.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Longform</div>
        <div class="author ng-binding">Longform</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Monocle 24: The Stack">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/4e751bb0-3c26-0132-c43a-5f4c86fd3263">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/4e751bb0-3c26-0132-c43a-5f4c86fd3263.jpg" data-fallback-src="http://img.monocle.com/radio/shows/the-stack-final-5718a9554a995.jpg?w=3000&amp;h=3000" src="http://static.pocketcasts.com/discover/images/200/4e751bb0-3c26-0132-c43a-5f4c86fd3263.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Monocle 24: The Stack</div>
        <div class="author ng-binding">Monocle</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Mystery Show">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/078400e0-d1bc-0132-0350-059c869cc4eb">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/078400e0-d1bc-0132-0350-059c869cc4eb.jpg" data-fallback-src="http://panoply-prod.s3.amazonaws.com/podcasts/abad3af0-ea13-11e5-8626-c7062f7d8e6e/image/uploads_2F1481655019634-08d8quo7r3vgkaqu-5a99c4c58e03f95ac702a77e60475ffd_2FGimletmedia_mysteryshow_gflag.png" src="http://static.pocketcasts.com/discover/images/200/078400e0-d1bc-0132-0350-059c869cc4eb.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Mystery Show</div>
        <div class="author ng-binding">Gimlet</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="NPR Politics Podcast">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/0e5c21f0-693c-0133-2cb8-6dc413d6d41d">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/0e5c21f0-693c-0133-2cb8-6dc413d6d41d.jpg" data-fallback-src="https://media.npr.org/assets/img/2015/11/13/nprpolitics_red1400px_sq-6bc03b536409ec88fd8d3abb637b560e93865bad.png?s=1400" src="http://static.pocketcasts.com/discover/images/200/0e5c21f0-693c-0133-2cb8-6dc413d6d41d.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">NPR Politics Podcast</div>
        <div class="author ng-binding">NPR</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="On the Media">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/34b07760-0cc4-012e-fb69-00163e1b201c">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/34b07760-0cc4-012e-fb69-00163e1b201c.jpg" data-fallback-src="https://media2.wnyc.org/i/1400/1400/l/80/1/onthemedia-wnycstudios.jpg" src="http://static.pocketcasts.com/discover/images/200/34b07760-0cc4-012e-fb69-00163e1b201c.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">On the Media</div>
        <div class="author ng-binding">WNYC Studios</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Overtime">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/552a26d0-8756-0133-2d8b-6dc413d6d41d">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/552a26d0-8756-0133-2d8b-6dc413d6d41d.jpg" data-fallback-src="https://media.simplecast.com/podcast/image/1515/1486569401-artwork.jpg" src="http://static.pocketcasts.com/discover/images/200/552a26d0-8756-0133-2d8b-6dc413d6d41d.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Overtime</div>
        <div class="author ng-binding">Dribbble</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Penny Arcade Podcasts - PA Staff Season 3">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/74976110-fc9e-0132-18a9-059c869cc4eb">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/74976110-fc9e-0132-18a9-059c869cc4eb.jpg" data-fallback-src="http://hw1.pa-cdn.com/pa/assets/podcasts/itunes_pa_staff.jpg" src="http://static.pocketcasts.com/discover/images/200/74976110-fc9e-0132-18a9-059c869cc4eb.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Penny Arcade Podcasts - PA Staff Season 3</div>
        <div class="author ng-binding">Penny Arcade Inc.</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Podcasts – XLR8R">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/d7748d80-a15e-0132-f821-5f4c86fd3263">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/d7748d80-a15e-0132-f821-5f4c86fd3263.jpg" data-fallback-src="http://www.xlr8r.com/wp-content/uploads/podcast_cover_podcasts_gradient.png" src="http://static.pocketcasts.com/discover/images/200/d7748d80-a15e-0132-f821-5f4c86fd3263.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Podcasts – XLR8R</div>
        <div class="author ng-binding">XLR8R</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Pop Culture Happy Hour">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/50679750-1dfb-012e-01d4-00163e1b201c">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/50679750-1dfb-012e-01d4-00163e1b201c.jpg" data-fallback-src="https://media.npr.org/assets/img/2015/04/02/popculturehour_sq-3a232a02eaf552912ea7ccb57db2dc9a30ce5f69.jpg?s=1400" src="http://static.pocketcasts.com/discover/images/200/50679750-1dfb-012e-01d4-00163e1b201c.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Pop Culture Happy Hour</div>
        <div class="author ng-binding">NPR</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Radiolab">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/f5b97290-0422-012e-f9a0-00163e1b201c">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/f5b97290-0422-012e-f9a0-00163e1b201c.jpg" data-fallback-src="https://media2.wnyc.org/i/1400/1400/l/80/1/Radiolab-wnycstudios.jpg" src="http://static.pocketcasts.com/discover/images/200/f5b97290-0422-012e-f9a0-00163e1b201c.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Radiolab</div>
        <div class="author ng-binding">WNYC Studios</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Radiolab Presents: More Perfect">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/e91f2690-05bd-0134-9cd7-59d98c6b72b8">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/e91f2690-05bd-0134-9cd7-59d98c6b72b8.jpg" data-fallback-src="https://media2.wnyc.org/i/raw/1/MorePerfect_iTunes_1400px.png" src="http://static.pocketcasts.com/discover/images/200/e91f2690-05bd-0134-9cd7-59d98c6b72b8.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Radiolab Presents: More Perfect</div>
        <div class="author ng-binding">WNYC Studios</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Reply All">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/eda33410-4f42-0132-cf00-5f4c86fd3263">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/eda33410-4f42-0132-cf00-5f4c86fd3263.jpg" data-fallback-src="http://panoply-prod.s3.amazonaws.com/podcasts/05f71746-a825-11e5-aeb5-a7a572df575e/image/uploads_2F1481751087092-ufv8g6eti0741gev-3f91a614fc49c85e19454c0c86b1b753_2FSHOW%2BART.png" src="http://static.pocketcasts.com/discover/images/200/eda33410-4f42-0132-cf00-5f4c86fd3263.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Reply All</div>
        <div class="author ng-binding">Gimlet</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Revisionist History">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/ac371bd0-094f-0134-9ce1-59d98c6b72b8">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/ac371bd0-094f-0134-9ce1-59d98c6b72b8.jpg" data-fallback-src="http://panoply-prod.s3.amazonaws.com/podcasts/1427a2f4-2674-11e6-a3d7-cf7ee2a2c03c/image/uploads_2F1482446939047-8xkz61rh3k6t5hke-1d3a74b59a8aa1c724e95f8e00fae249_2FRevisionistHistory_1400x1400.jpg" src="http://static.pocketcasts.com/discover/images/200/ac371bd0-094f-0134-9ce1-59d98c6b72b8.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Revisionist History</div>
        <div class="author ng-binding">Malcolm Gladwell / Panoply</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Roderick on the Line">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/52ce9b60-bd41-012e-6369-00163e1b201c">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/52ce9b60-bd41-012e-6369-00163e1b201c.jpg" data-fallback-src="http://www.merlinmann.com/storage/rotl/rotl-logo-300-sq.jpg" src="http://static.pocketcasts.com/discover/images/200/52ce9b60-bd41-012e-6369-00163e1b201c.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Roderick on the Line</div>
        <div class="author ng-binding">Merlin Mann</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Sidedoor">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/b538a980-7a92-0134-9030-3327a14bcdba">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/b538a980-7a92-0134-9030-3327a14bcdba.jpg" data-fallback-src="https://dfkfj8j276wwv.cloudfront.net/images/62/d5/e8/d5/62d5e8d5-de63-4e91-b8c4-3fc1d3512889/a1a30b9e77cf9a6c399f5ad2a39e5056658fa38f1cc089fd37bd77e2d0bc36c552216d542c1203b3ae41cec686057e0b6048c1e8370080e92fdde7ee220d116b.jpeg" src="http://static.pocketcasts.com/discover/images/200/b538a980-7a92-0134-9030-3327a14bcdba.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Sidedoor</div>
        <div class="author ng-binding">Smithsonian</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Song Exploder">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/fff9ba50-53e1-0131-8293-723c91aeae46">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/fff9ba50-53e1-0131-8293-723c91aeae46.jpg" data-fallback-src="http://static.libsyn.com/p/assets/f/6/5/2/f65292ef444fc1d0/songexploder-logo.png" src="http://static.pocketcasts.com/discover/images/200/fff9ba50-53e1-0131-8293-723c91aeae46.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Song Exploder</div>
        <div class="author ng-binding">Song Exploder</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="StartUp Podcast">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/ada28710-1123-0132-aad3-5f4c86fd3263">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/ada28710-1123-0132-aad3-5f4c86fd3263.jpg" data-fallback-src="http://panoply-prod.s3.amazonaws.com/podcasts/f23b021e-a9a3-11e5-8768-bfc7a8ea314d/image/uploads_2F1479138956178-d1zizome0dbfvdgs-0f0f57e30a64a49279734db989f4d6bd_2FStartUp-show-art-1500px.png" src="http://static.pocketcasts.com/discover/images/200/ada28710-1123-0132-aad3-5f4c86fd3263.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">StartUp Podcast</div>
        <div class="author ng-binding">Gimlet</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Still Processing">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/30817be0-5675-0134-ec37-0d50f522381b">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/30817be0-5675-0134-ec37-0d50f522381b.jpg" data-fallback-src="https://dfkfj8j276wwv.cloudfront.net/images/4e/4b/03/e4/4e4b03e4-32a5-4e81-b9fa-e30e0e306033/5a0e5982bc504d1d3c658c66fe204233fcd8841ed3bf22c7913189f2670d38a6645f7306551227b160d4c66b3f7cc020fc8dcaf8362738ae06f5d16f4fb9bfcb.jpeg" src="http://static.pocketcasts.com/discover/images/200/30817be0-5675-0134-ec37-0d50f522381b.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Still Processing</div>
        <div class="author ng-binding">The New York Times</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Supper Club">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/2b812f90-30cc-0134-eba6-0d50f522381b">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/2b812f90-30cc-0134-eba6-0d50f522381b.jpg" data-fallback-src="https://ruby.fm/supperclub.jpg" src="http://static.pocketcasts.com/discover/images/200/2b812f90-30cc-0134-eba6-0d50f522381b.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Supper Club</div>
        <div class="author ng-binding">DJ Staring Is Polite</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Surprisingly Awesome">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/de1bda70-60d2-0133-ccd6-0d11918ab357">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/de1bda70-60d2-0133-ccd6-0d11918ab357.jpg" data-fallback-src="http://panoply-prod.s3.amazonaws.com/podcasts/adb2932c-c218-11e5-8029-2780e7f74607/image/uploads_2F1479138979802-3ndd9esl21zbg72q-9ff1d8310944626c7e37c20aef3fa9ed_2FSurprisingly-Awesome-show-art-1500px.png" src="http://static.pocketcasts.com/discover/images/200/de1bda70-60d2-0133-ccd6-0d11918ab357.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Surprisingly Awesome</div>
        <div class="author ng-binding">Gimlet</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="The Daily">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/4eb5b260-c933-0134-10da-25324e2a541d">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/4eb5b260-c933-0134-10da-25324e2a541d.jpg" data-fallback-src="https://dfkfj8j276wwv.cloudfront.net/images/01/1b/f3/d6/011bf3d6-a448-4533-967b-e2f19e376480/7fdd4469c1b5cb3b66aa7dcc9fa21f138efe9a0310a8a269f3dcd07c83a552844fcc445ea2d53db1e55d6fb077aeaa8a1566851f8f2d8ac4349d9d23a87a69f5.jpeg" src="http://static.pocketcasts.com/discover/images/200/4eb5b260-c933-0134-10da-25324e2a541d.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">The Daily</div>
        <div class="author ng-binding">The New York Times</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="The Hilarious World of Depression">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/4fffd820-9975-0134-90ec-3327a14bcdba">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/4fffd820-9975-0134-90ec-3327a14bcdba.jpg" data-fallback-src="https://img.apmcdn.org/57a5e46c51bc0b2aa44df4e77dbe3dcfea35f9aa/uncropped/c3df27-thwod-podcast.jpg" src="http://static.pocketcasts.com/discover/images/200/4fffd820-9975-0134-90ec-3327a14bcdba.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">The Hilarious World of Depression</div>
        <div class="author ng-binding">American Public Media</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="The Pitch">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/a04be410-ebf7-0132-1104-059c869cc4eb">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/a04be410-ebf7-0132-1104-059c869cc4eb.jpg" data-fallback-src="https://ssl-static.libsyn.com/p/assets/b/9/4/f/b94f67e9737eb666/pitch_coverart2.jpg" src="http://static.pocketcasts.com/discover/images/200/a04be410-ebf7-0132-1104-059c869cc4eb.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">The Pitch</div>
        <div class="author ng-binding">Josh Muccio / thepitch.fm</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="This American Life">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/3782b780-0bc5-012e-fb02-00163e1b201c">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/3782b780-0bc5-012e-fb02-00163e1b201c.jpg" data-fallback-src="http://www.thisamericanlife.org/sites/all/themes/thislife/images/logo-square-1400.jpg" src="http://static.pocketcasts.com/discover/images/200/3782b780-0bc5-012e-fb02-00163e1b201c.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">This American Life</div>
        <div class="author ng-binding">This American Life</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Tiny Desk Concerts - Audio">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/00e84a10-b1ae-0130-274a-723c91aeae46">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/00e84a10-b1ae-0130-274a-723c91aeae46.jpg" data-fallback-src="https://media.npr.org/images/podcasts/primary/icon_510306_sq-e07b7d616c85f470d3f723646c10bdfe42b845c2.jpg?s=1400" src="http://static.pocketcasts.com/discover/images/200/00e84a10-b1ae-0130-274a-723c91aeae46.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Tiny Desk Concerts - Audio</div>
        <div class="author ng-binding">NPR</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Track Changes">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/cff4dd00-be54-0133-2e7c-6dc413d6d41d">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/cff4dd00-be54-0133-2e7c-6dc413d6d41d.jpg" data-fallback-src="http://static.libsyn.com/p/assets/8/a/f/e/8afed24ef63f6bac/Track_Changes_-_Album_Artwork.png" src="http://static.pocketcasts.com/discover/images/200/cff4dd00-be54-0133-2e7c-6dc413d6d41d.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Track Changes</div>
        <div class="author ng-binding">Postlight</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Twenty Thousand Hertz">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/5c748c70-82dd-0134-905b-3327a14bcdba">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/5c748c70-82dd-0134-905b-3327a14bcdba.jpg" data-fallback-src="http://static.libsyn.com/p/assets/7/e/c/b/7ecb8d382f02537c/20kHz-s1-ArtworkiTunes.jpg" src="http://static.pocketcasts.com/discover/images/200/5c748c70-82dd-0134-905b-3327a14bcdba.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Twenty Thousand Hertz</div>
        <div class="author ng-binding">Defacto Sound</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Undone">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/d8f5ecf0-81bf-0134-905b-3327a14bcdba">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/d8f5ecf0-81bf-0134-905b-3327a14bcdba.jpg" data-fallback-src="http://panoply-prod.s3.amazonaws.com/podcasts/8464791e-4dcc-11e6-a4c5-d3c4fd1847fa/image/uploads_2F1477940509029-2v4szac5m7v5hpte-6f3d47dbb94fc761c6a046d5fcca1ef4_2FGimlet_Undone-show-art-3000px-v2.png" src="http://static.pocketcasts.com/discover/images/200/d8f5ecf0-81bf-0134-905b-3327a14bcdba.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Undone</div>
        <div class="author ng-binding">Gimlet</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="Where There's Smoke">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/ad0965c0-898e-0132-ec59-5f4c86fd3263">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/ad0965c0-898e-0132-ec59-5f4c86fd3263.jpg" data-fallback-src="http://static.libsyn.com/p/assets/4/1/6/e/416e52c0ad56d3da/WTS_FullRes_Icon.png" src="http://static.pocketcasts.com/discover/images/200/ad0965c0-898e-0132-ec59-5f4c86fd3263.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">Where There's Smoke</div>
        <div class="author ng-binding">Brett Gajda and Nick Jaworski</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search --><div class="podcast ng-scope" ng-repeat="podcast in podcasts | filter:search" title="With her">
    <div class="podcast_content" ui-sref="podcasts.show({ podcast_uuid: podcast.uuid })" href="#/podcasts/show/f1e740d0-42c6-0134-eba6-0d50f522381b">
      <img ng-src="http://static.pocketcasts.com/discover/images/200/f1e740d0-42c6-0134-eba6-0d50f522381b.jpg" data-fallback-src="http://panoply-prod.s3.amazonaws.com/podcasts/f4460c36-6026-11e6-b7de-032ea5048677/image/uploads_2F1470962003164-8db5mnmyg67jjgaa-98b46d51cab804f42257b57356667597_2FPodcast-cover-artwork-080316.png" src="http://static.pocketcasts.com/discover/images/200/f1e740d0-42c6-0134-eba6-0d50f522381b.jpg">
      <div class="podcast_text">
        <div class="title ng-binding">With her</div>
        <div class="author ng-binding">Hillary Clinton</div>
      </div>
    </div>
  </div><!-- end ngRepeat: podcast in podcasts | filter:search -->
</div>
