body {
	background-color: #000000;
	color: #FFFFFF;
	}

a {
	color: #CCCCCC;
	}

.all {
	text-align: center;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.box {
	margin-top: 100px;
	float: right;
	}
