/* Imported from byword */
html {
  /* the line height value of 1.9 is fixed for a line height multiple of 1.4 in the text view */
  font: normal 106.2%/1.9 serif;
}

body {
  background-color: #f2f2f2;
  color: #3c3c3c;
}

blockquote {
  color: #777;
}

pre code {
  background-color: transparent;
}

pre {
  background-color: #eee;
}

code {
  background-color: #eee;
}

a {
  color: #308bd8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

hr {
  color: #eee;
  background-color: #ccc;
}
table th {
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table tr {
}

table td {
  padding: 3px 10px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

/**
 *
 Images
 *
 */

img {
  border: none;
  display: block;
  margin: 1em auto;
  max-width: 100%;
}

/**
 *
 Marks
 *
 */

mark {
  background: #fefec0;
  padding: 1px 3px;
}

/**
 *
 Footnotes
 *
 */
.footnote {
  font-size: 0.8rem;
  vertical-align: super;
}
.footnotes ol {
  font-weight: bold;
}
.footnotes ol li {
  text-align: -webkit-match-parent;
}

.footnotes ol li p {
  font-weight: normal;
}

/**
 *
 Figures and Captions
 *
 */
caption {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

figure {
  display: block;
  text-align: center;
}

figcaption {
  font-size: 0.8rem;
  font-style: italic;
}

/**
 *
 Custom classes
 *
 */

.shadow {
  -webkit-box-shadow: 0 2px 4px #999;
}

.source {
  text-align: center;
  font-size: 0.8em;
  color: #777;
  margin: -40px auto;
}
#wrapper {
  width: 99.9%;
}
#content {
  width: 610px;
  margin-left: auto;
  margin-right: auto;
}

/* Mobile support */
@media only screen and (max-device-width: 1024px) {
  html {
    overflow: auto;
  }

  #wrapper {
    overflow: auto;
    position: relative;
  }
} /* html elements */

body {
  background-color: #1a1a1a;
  color: #bebebe;
}
a {
  color: #308bd8;
}
hr {
  color: #666;
  background-color: #666;
  -webkit-box-shadow: none;
}
pre {
  background-color: #222;
  border-color: #3c3c3c;
}
code {
  background-color: #222;
  border-color: #3c3c3c;
}
blockquote {
  border-color: #333;
  color: #999;
}
table {
  border-color: #3c3c3c;
}
table th {
  background-color: #222;
  border-color: #3c3c3c;
}
table td {
  border-color: #3c3c3c;
}
mark {
  background: #bc990b;
  color: #000;
}
