/**
 * NatWelch.com version 12.0
 * copyright Nat Welch 2012
 */

body, select, input, textarea {
  color:#444;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

body {
  background: url("/i/large_nat.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

#center {
  padding: 20px;
}

#more-data, #center {
  background: #000;
  opacity: 0.9;
}

#center h1 {
  font-size: 3em;
  margin: 6px;
}

#center h1, #center h3 {
  width: 100%;
  text-align: center;
}

a {
  cursor: pointer;
}

a:hover {
  color: #444;
}

#buffer {
  height: 300px;
}

#more-data {
  display: none;
  padding: 0 25px 25px 25px;
  color: #EEE;
}

#more-data div {
  width: 400px;
  margin: 0 auto;
}

#more-data div p {
  padding: 5px;
  text-align: justify;
}

ul#melinks {
  list-style: none;
  margin: 0;
}

ul#melinks li {
  display: inline;
}

img.socialicon {
  width: 53px;
  height: 53px;
  opacity: 0.6;
}

img.socialicon:hover {
  opacity: 1;
}
