/**
 * NatWelch.com version 7
 * copyright nat welch 2010
 */

body, select, input, textarea { 
   color:#444;
   font-family: 'Cardo', arial, serif;
}

#nat {
   width: 397px;
   height: 560px;
   background-image: url('../../images/natcplug.jpg');
   color: #444;
   padding-top: 80px;
   padding-left: 30px;
   background-repeat: no-repeat;
   float: left;
   font-family: 'Cardo', arial, serif;
}

#name {
   font-size: 3em;
}

#job {
   font-size: 1.2em;
}

.data {
   font-family: 'Droid Sans', sans-serif;
   float: right;
   padding: 0 0 0 10px;
   width: 350px;
}

#data2, #data3, #data4 {
   display: none;
}

#friends {
   padding: 20px;
   width: 680px;
   margin: 0 auto;
}

#container {
   height: 640px;
   width: 800px;
   margin: 60px auto 30px;
   border: 10px solid #444444;
   padding: 5px;
}

#first {
   margin-top: 25px;
}

#knight {
   font-size: 0.8em;
}

a, a:visited {
  text-decoration: none;
  cursor: pointer;
}

a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }

p, ul {
   padding: 5px 0;
}

#link-blog { }
#link-photos { }
#link-resume { }
#link-linkedin { }
#link-github { }
#link-twitter { }
#link-lastfm { }
#link-delicious { }
#link-key { }
#link-friends { }
#link-homepage {
   display: none;
}

