body {
	background-color: black;
	color: #666666;
}

a {
	text-decoration: none;
	color: #999999;
}

a:hover {
	text-decoration: underline;
	color: white;
  } 

a:visited {
	color: #999999;
	text-decoration: none;
  }

li {
	list-style: none ; 
}

.item {
	margin-left: 15px;
}

.size {
	display: inline;
}

.type {
	display: none;
}
