/*
 * War
 * Nat Welch
 * 3/31/09
 *
 * Dreadfully sorry about the obscure id and class names.
 */

body {
	margin-top: 15px;
	background-color: white;
}

h1 {
	font-size: 2.5em;
}

h1 small {
	font-size: 0.3em;
}

#alertBox {
	height: 22px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	background: red;
	color: white;
	width: 100%;
}

#help {
	height: 300px;
}



.side {
	border: 1px solid black;
	width: 500px;
	height: 150px;
	text-align: center;
	vertical-align: middle;
	padding: 10px 10px 10px 10px;
	background-color: #CCC;
}

.drag, .card {
	width: 100px;
	height: 144px;
	background-image: url("img/back-blue-100-4.png");
	border: 0px solid black;
	display: block;
}

.flipped {
	width: 100px;
	height: 144px;
	border: 0px solid black;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}

.drag {
	cursor: move;
}

#middle {
	border: none !important;
	background-color: green;
	height: 200px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#cont {
	width: 500px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}

.stat {
	text-align: left;
	font-size: 0.7em;
	border: 1px gray dotted;
	width: 250px;
	height: 95%;
	float: right;
	padding-top: 5px;
	padding-left: 5px;
}

#winner {
	float: none;
}

#computer {
	z-index: 3;
}

#moveable {
	position: relative;
	top: 0px;
	left: 0px;
}
